include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
recursive-include src/toetra/_language/grammar *.ebnf *.lark
recursive-include src/toetra/examples *.toetra
global-exclude *.py[cod]
global-exclude __pycache__
